<!DOCTYPE html>
<html>
    <head>
        <title>Geocaching Portal</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
    </head>
    <body>
        <div id="mainDiv">
            <nav>
                <div>
                    <ul class="ul_NavBar">
                        <li class="li_NavBar"><a href="/Add_your_Cache">Your Cache</a></li>
                        <li class="li_NavBar"><a href="/Location_of_Cache">Location of Caches</a></li>
                        <li class="li_NavBar"><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
            <div class="textMain">
                <div class="HelloText">
                    <h1>Users Cords</h1>
                    <p>Cupcake ipsum dolor sit amet cupcake apple pie candy canes bonbon. Bear claw biscuit sweet roll jujubes cheesecake chocolate apple pie. Gummies powder biscuit. </p>
                    <ul id='ulCords'> 
                        Cords you added : 
                    </ul>
                </div>
            </div>
            <div class="textMain">
                <div class="Map">
                    <p>Here you can delate your own cashe</p>
                </div>
                <form onsubmit="return deleteUserCache();" method="post" action ="/Delete">
                    <input type="number" name="indexofCashe" id="idcashe" placeholder="Index of cache to delete ..." required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <script src="deleteCords.js"></script>
        <script src="putUserCordsOnWeb.js"></script>
    </body>
</html>