<!DOCTYPE html>
<html>
    <head>
        <title>Geocaching Portal</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
    </head>
    <body>
      <div id="mainDiv">
        <nav>
          <div>
            <ul class="ul_NavBar">
              <li class="li_NavBar"><a href="/Add_your_Cache">Your Cache</a></li>
              <li class="li_NavBar"><a href="/Location_of_Cache">Location of Caches</a></li>
              <li class="li_NavBar"><a href="/">Home</a></li>
            </ul>
          </div>
          </nav>
        <div class="textMain">
          <h1>Hello fellow geocachers !</h1>

          <p>Cupcake ipsum dolor sit amet cupcake apple pie candy canes bonbon. Bear claw biscuit sweet roll jujubes cheesecake chocolate apple pie. Gummies powder biscuit. Brownie sugar plum candy donut donut liquorice sweet candy canes chupa chups. Jelly-o topping gummi bears pastry lemon drops tart apple pie. Icing halvah gummi bears cake soufflé cotton candy lemon drops. Icing icing brownie gummi bears sweet halvah powder. Pie gingerbread chocolate cake sweet cheesecake liquorice cookie.
          </p>

          <p><a class="btnHelp" href="https://www.geocaching.com/play" role="button">Learn more about geocaching </a></p>
        </div>
      </div>
    </body>
</html>