<!DOCTYPE html>
<html>
    <head>
        <title>Geocaching Portal</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
    </head>
    <body>
        <div id="mainDiv">
            <nav>
                <div>
                    <ul class="ul_NavBar">
                        <li class="li_NavBar"><a href="/Add_your_Cache">Your Cache</a></li>
                        <li class="li_NavBar"><a href="/Location_of_Cache">Location of Caches</a></li>
                        <li class="li_NavBar"><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
            <div class="textMain">
                <div class="Map">
                    <h1>Word Map with Cashes</h1>
                    <div id="map"></div>
                    <p>Here you can add your own cashe</p>
                </div>
                <form onsubmit="return userCache();" method="post">
                    <input type="text" name="locationLatCord" id="lat" placeholder="Enter latitude coordinates ..." required>
                    <input type="text" name="locationLonCord" id="lon" placeholder="Enter longitude coordinates ..." required>
                    <input type="text" name="nameofCashe" id="cashe" placeholder="Enter name of cashe ..." required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <script src="addMarker.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAggPgBPkhGYVnZWSI5IYdt9fPCA2lQgCM&callback=initMap">
        </script>
    </body>
</html>